body            {padding-top: 20px; padding-bottom: 20px;}
.navbar         {margin-bottom: 20px;}

.navbar-inverse .navbar-brand               {color: #58eac9; font-size: 32px; font-weight:bold;}
.navbar-inverse .navbar-brand:hover         {color: #2be4ba;}
.navbar-inverse .navbar-nav > li > a        {color: #58eac9;}
.navbar-inverse .navbar-nav > li > a:hover  {color: #2be4ba;}